{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <title>{% block title %}{{ page_title|default:seo_title }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ meta_description|default:seo_description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ meta_keywords|default:seo_keywords }}{% endblock %}">
    <meta name="author" content="{{ site_settings.company_name }}">
    <link rel="canonical" href="{% block canonical_url %}{{ canonical_url }}{% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{% block og_type %}{{ og_type }}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ og_url }}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}{{ page_title|default:seo_title }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ meta_description|default:seo_description }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{{ og_image }}{% endblock %}">
    <meta property="og:site_name" content="{{ og_site_name }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="{{ twitter_card }}">
    <meta property="twitter:url" content="{{ og_url }}">
    <meta property="twitter:title" content="{{ page_title|default:seo_title }}">
    <meta property="twitter:description" content="{{ meta_description|default:seo_description }}">
    <meta property="twitter:image" content="{% block twitter_image %}{{ og_image }}{% endblock %}">
    <meta property="twitter:site" content="{{ twitter_site }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    {% block extra_css %}{% endblock %}

    <!-- Google Tag Manager -->
    {% if google_tag_manager_id %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ google_tag_manager_id }}');</script>
    {% endif %}

    {% block extra_head %}{% endblock %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    {% if google_tag_manager_id %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_id }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}

    <!-- Preloader area start -->
    <div class="loading">
        <span class="text-capitalize">L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
    <div id="preloader"></div>
    <!-- Preloader area end -->

    <!-- Mouse cursor area start -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end -->

    {% include 'website/partials/header.html' %}

    {% include 'website/partials/sidebar.html' %}

    {% include 'website/partials/search.html' %}

    <main>
        <!-- Django Messages -->
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    {% include 'website/partials/footer.html' %}

    <!-- Back to top area start -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Back to top area end -->

    <!-- JavaScript Files -->
    <script src="{% static 'website/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/meanmenu.js' %}"></script>
    <script src="{% static 'website/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'website/js/wow.min.js' %}"></script>
    <script src="{% static 'website/js/pace.min.js' %}"></script>
    <script src="{% static 'website/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/nice-select.min.js' %}"></script>
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.waypoints.js' %}"></script>
    <script src="{% static 'website/js/script.js' %}"></script>

    <!-- Google Analytics -->
    {% if google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_analytics_id }}');
    </script>
    {% endif %}

    <!-- Facebook Pixel -->
    {% if facebook_pixel_id %}
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ facebook_pixel_id }}');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id={{ facebook_pixel_id }}&ev=PageView&noscript=1"
    /></noscript>
    {% endif %}

    {% block extra_js %}{% endblock %}
</body>

</html>
