{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title|default:"Aureon - Financial Automation Platform" }}{% endblock %} | Aureon</title>
    <meta name="description" content="{% block meta_description %}{{ meta_description|default:"From Signature to Cash, Everything Runs Automatically. Aureon automates contracts, invoicing, and payments for modern businesses." }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ meta_keywords|default:"financial automation, contract management, invoicing, payments, SaaS, Aureon, Rhematek" }}{% endblock %}">

    <!-- Open Graph / Social -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og_title %}{{ page_title|default:"Aureon" }}{% endblock %}">
    <meta property="og:description" content="{{ meta_description|default:"From Signature to Cash, Everything Runs Automatically." }}">
    <meta property="og:image" content="{% block og_image %}{% static 'website/images/og-image.jpg' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'website/images/favicon.png' %}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <!-- Preloader area start -->
    <div class="loading">
        <span class="text-capitalize">A</span>
        <span>u</span>
        <span>r</span>
        <span>e</span>
        <span>o</span>
        <span>n</span>
    </div>
    <div id="preloader"></div>
    <!-- Preloader area end -->

    <!-- Mouse cursor area start here -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end here -->

    <!-- Top header area start here -->
    <div class="header-top d-none d-lg-block">
        <div class="container header__container">
            <div class="header-top-wrp">
                <ul class="info">
                    <li>
                        <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8748 8.50453C13.8748 9.85566 12.7757 10.953 11.4263 10.953H3.39325C2.04384 10.953 0.94475 9.85563 0.94475 8.50453V3.39322C0.944449 2.95776 1.06111 2.53021 1.28253 2.15525L5.20216 6.07488C5.78856 6.663 6.57384 6.98706 7.41059 6.98706C8.24563 6.98706 9.03091 6.663 9.61731 6.07488L13.5369 2.15525C13.7584 2.5302 13.875 2.95776 13.8747 3.39322V8.50453H13.8748ZM11.4263 0.94475H3.39325C2.836 0.94475 2.32159 1.13334 1.91009 1.44712L5.86916 5.40791C6.27897 5.81597 6.82591 6.04231 7.41059 6.04231C7.99356 6.04231 8.54053 5.81597 8.95031 5.40791L12.9094 1.44712C12.4979 1.13334 11.9835 0.94475 11.4263 0.94475ZM11.4263 0H3.39325C1.52259 0 0 1.52259 0 3.39325V8.50456C0 10.3769 1.52259 11.8978 3.39325 11.8978H11.4263C13.2969 11.8978 14.8195 10.3769 14.8195 8.50456V3.39322C14.8195 1.52256 13.2969 0 11.4263 0Z" fill="white"/>
                        </svg>
                        <a href="mailto:{{ site_settings.contact_email|default:'support@aureon.rhematek-solutions.com' }}" class="ms-1">{{ site_settings.contact_email|default:'support@aureon.rhematek-solutions.com' }}</a>
                    </li>
                    <li class="ms-4">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_529_224)">
                                <path d="M14.8984 10.5909C14.8735 10.5703 12.0629 8.57063 11.304 8.69297C10.9379 8.75766 10.7288 9.0075 10.3093 9.50719C10.1933 9.6463 10.0747 9.7832 9.95352 9.91781C9.68836 9.83143 9.42973 9.72616 9.17961 9.60281C7.88845 8.97422 6.84524 7.93101 6.21665 6.63984C6.0933 6.38973 5.98803 6.1311 5.90165 5.86594C6.03946 5.73984 6.23258 5.57719 6.31508 5.50781C6.81243 5.09062 7.0618 4.88109 7.12649 4.51453C7.25915 3.75562 5.24915 0.945937 5.22852 0.920625C5.13698 0.790808 5.01777 0.682933 4.87948 0.604789C4.74118 0.526645 4.58726 0.480181 4.42883 0.46875C3.61415 0.46875 1.28821 3.48563 1.28821 3.99422C1.28821 4.02375 1.33086 7.02562 5.03258 10.7911C8.79383 14.4886 11.7957 14.5312 11.8252 14.5312C12.3334 14.5312 15.3507 12.2053 15.3507 11.3906C15.3392 11.2322 15.2926 11.0783 15.2144 10.94C15.1362 10.8017 15.0282 10.6825 14.8984 10.5909Z" fill="white"/>
                            </g>
                        </svg>
                        <a href="tel:{{ site_settings.phone|default:'+1-208-666-0112' }}" class="ms-1">{{ site_settings.phone|default:'+1-208-666-0112' }}</a>
                    </li>
                </ul>
                <ul class="link-info">
                    {% if site_settings.facebook_url %}
                    <li><a href="{{ site_settings.facebook_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a></li>
                    {% endif %}
                    {% if site_settings.twitter_url %}
                    <li><a href="{{ site_settings.twitter_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site_settings.linkedin_url %}
                    <li><a href="{{ site_settings.linkedin_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    {% endif %}
                    {% if site_settings.youtube_url %}
                    <li><a href="{{ site_settings.youtube_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Top header area end here -->

    <!-- Header area start here -->
    <header class="header-area">
        <div class="container header__container">
            <div class="header__main">
                <a href="{% url 'website:home' %}" class="logo">
                    <img src="{% static 'website/images/logo/logo-light.svg' %}" alt="Aureon">
                </a>
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="{% url 'website:home' %}" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Home</a></li>
                            <li><a href="{% url 'website:about' %}" {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}>About</a></li>
                            <li>
                                <a href="{% url 'website:services' %}" {% if 'service' in request.resolver_match.url_name %}class="active"{% endif %}>Services</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'website:services' %}">All Services</a></li>
                                    <li><a href="{% url 'website:service_detail' slug='contract-management' %}">Contract Management</a></li>
                                    <li><a href="{% url 'website:service_detail' slug='automated-invoicing' %}">Automated Invoicing</a></li>
                                    <li><a href="{% url 'website:service_detail' slug='payment-processing' %}">Payment Processing</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'website:pricing' %}" {% if request.resolver_match.url_name == 'pricing' %}class="active"{% endif %}>Pricing</a></li>
                            <li>
                                <a href="#0">Resources</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'website:case_studies' %}">Case Studies</a></li>
                                    <li><a href="{% url 'website:blog' %}">Blog</a></li>
                                    <li><a href="{% url 'website:faq' %}">FAQ</a></li>
                                    <li><a href="{% url 'website:team' %}">Our Team</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'website:contact' %}" {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__right">
                    {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="btn-one">Dashboard <i class="fa-regular fa-arrow-right"></i></a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn-one">Get Started <i class="fa-regular fa-arrow-right"></i></a>
                    {% endif %}
                    <div class="sidebar-icon d-lg-none">
                        <i class="fa-regular fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end here -->

    <!-- Mobile menu area start here -->
    <div class="mobile-menu d-lg-none">
        <div class="menu-backdrop"></div>
        <nav class="mobile-nav">
            <div class="mobile-nav-top">
                <a href="{% url 'website:home' %}" class="logo">
                    <img src="{% static 'website/images/logo/logo.svg' %}" alt="Aureon">
                </a>
                <div class="close-menu">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <ul class="mobile-menu-list">
                <li><a href="{% url 'website:home' %}">Home</a></li>
                <li><a href="{% url 'website:about' %}">About</a></li>
                <li>
                    <a href="{% url 'website:services' %}">Services</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'website:services' %}">All Services</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'website:pricing' %}">Pricing</a></li>
                <li><a href="{% url 'website:case_studies' %}">Case Studies</a></li>
                <li><a href="{% url 'website:blog' %}">Blog</a></li>
                <li><a href="{% url 'website:contact' %}">Contact</a></li>
            </ul>
            <div class="mobile-nav-btn">
                {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="btn-one w-100 text-center">Dashboard</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn-one w-100 text-center">Get Started</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <!-- Mobile menu area end here -->

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer area start here -->
    <footer class="footer-area secondary-bg">
        <div class="footer__shape-regular-left wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
            <img src="{% static 'website/images/shape/footer-regular-left.png' %}" alt="shape">
        </div>
        <div class="footer__shape-solid-left wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
            <img class="sway_Y__animation" src="{% static 'website/images/shape/footer-solid-left.png' %}" alt="shape">
        </div>
        <div class="footer__shape-solid-right wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
            <img class="sway_Y__animation" src="{% static 'website/images/shape/footer-regular-right.png' %}" alt="shape">
        </div>
        <div class="footer__shape-regular-right wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
            <img src="{% static 'website/images/shape/footer-solid-right.png' %}" alt="shape">
        </div>
        <div class="footer__shadow-shape">
            <img src="{% static 'website/images/shape/footer-shadow-shape.png' %}" alt="shadow">
        </div>
        <div class="container">
            <div class="footer__wrp pt-100 pb-100">
                <div class="footer__item item-big wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <a href="{% url 'website:home' %}" class="logo mb-30">
                        <img src="{% static 'website/images/logo/logo.svg' %}" alt="Aureon">
                    </a>
                    <p>From Signature to Cash, Everything Runs Automatically. Aureon automates your financial workflows so you can focus on growth.</p>
                    <div class="social-icon">
                        {% if site_settings.facebook_url %}
                        <a href="{{ site_settings.facebook_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a>
                        {% endif %}
                        {% if site_settings.twitter_url %}
                        <a href="{{ site_settings.twitter_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-twitter"></i></a>
                        {% endif %}
                        {% if site_settings.linkedin_url %}
                        <a href="{{ site_settings.linkedin_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin-in"></i></a>
                        {% endif %}
                        {% if site_settings.youtube_url %}
                        <a href="{{ site_settings.youtube_url }}" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="footer__item item-sm wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <h3 class="footer-title">Platform</h3>
                    <ul>
                        <li><a href="{% url 'website:services' %}"><i class="fa-regular fa-angles-right me-1"></i> Contract Management</a></li>
                        <li><a href="{% url 'website:services' %}"><i class="fa-regular fa-angles-right me-1"></i> Automated Invoicing</a></li>
                        <li><a href="{% url 'website:services' %}"><i class="fa-regular fa-angles-right me-1"></i> Payment Processing</a></li>
                        <li><a href="{% url 'website:services' %}"><i class="fa-regular fa-angles-right me-1"></i> Client Portal</a></li>
                        <li><a href="{% url 'website:services' %}"><i class="fa-regular fa-angles-right me-1"></i> Analytics Dashboard</a></li>
                    </ul>
                </div>
                <div class="footer__item item-sm wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <h3 class="footer-title">Quick Links</h3>
                    <ul>
                        <li><a href="{% url 'website:about' %}"><i class="fa-regular fa-angles-right me-1"></i> About Aureon</a></li>
                        <li><a href="{% url 'website:pricing' %}"><i class="fa-regular fa-angles-right me-1"></i> Pricing Plans</a></li>
                        <li><a href="{% url 'website:case_studies' %}"><i class="fa-regular fa-angles-right me-1"></i> Case Studies</a></li>
                        <li><a href="{% url 'website:blog' %}"><i class="fa-regular fa-angles-right me-1"></i> Blog</a></li>
                        <li><a href="{% url 'website:contact' %}"><i class="fa-regular fa-angles-right me-1"></i> Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer__item item-big wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <h3 class="footer-title">Contact Us</h3>
                    <p class="mb-20">{{ site_settings.address|default:'Rhematek Solutions, Global' }}</p>
                    <ul class="footer-contact">
                        <li>
                            <i class="fa-regular fa-clock"></i>
                            <div class="info">
                                <h5>Support Hours:</h5>
                                <p>Mon - Fri: 9:00 AM - 6:00 PM EST</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-duotone fa-phone"></i>
                            <div class="info">
                                <h5>Contact:</h5>
                                <p>{{ site_settings.contact_email|default:'support@aureon.rhematek-solutions.com' }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="d-flex gap-1 flex-wrap align-items-center justify-content-md-between justify-content-center">
                    <p class="wow fadeInDown" data-wow-delay="00ms" data-wow-duration="1500ms">&copy; {% now "Y" %} <a href="{% url 'website:home' %}">Aureon</a> by Rhematek Solutions. All Rights Reserved.</p>
                    <ul class="d-flex align-items-center gap-4 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <li><a href="{% url 'website:terms_of_service' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'website:privacy_policy' %}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer area end here -->

    <!-- Back to top area start here -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
    <!-- Back to top area end here -->

    <!-- JavaScript Files -->
    <script src="{% static 'website/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/meanmenu.js' %}"></script>
    <script src="{% static 'website/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'website/js/wow.min.js' %}"></script>
    <script src="{% static 'website/js/pace.min.js' %}"></script>
    <script src="{% static 'website/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/nice-select.min.js' %}"></script>
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.waypoints.js' %}"></script>
    <script src="{% static 'website/js/script.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>
